.backbar{
    height: 3200px;
    background-color: rgb(236, 236, 236);
    display: flex;
    margin-top: 150px;

  .cmbox{
    width: 930px;
    height: 300px;
    background-color: white;
    margin-top: 20px;
    border-radius: 15px;
    display: flex;
    .comnt{
        width: 700px;
        height: 160px;
        background-color: whitesmoke;
        margin-top: 20px;
        margin-right: 10px;
        border-radius: 15px;
        .input1{
            width: 700px;
            height: 160px;
            border-radius: 15px;
            font-family: shabnam;
            font-size: 14px;
            padding-bottom: 120px;
            border: 1px solid gray;
            padding-right: 6px;
        }
        .sabt{
            width: 120px;
            height: 40px;
            background-color: rgb(84, 84, 202);
            margin-top: 50px;
            align-items: center;
            border-radius: 10px;
            display: flex;
            margin-right: 20px;
            .sabta{
                text-decoration: none;
                background-color: rgb(84, 84, 202);
                font-family: shabnam;
                font-size: 15px;
                border-radius: 10px;
                padding-right: 25px;
                color: white;
            }
        }

    }
    .leftb{
        width: 200px;
        height: 150px;
        background-color: white;
        margin-top: 20px;
        margin-right: 8px;
        column-gap: 8px;
        display: block;
        border-radius: 15px;
        .inp2{
            width: 200px;
            height: 50px;
            background-color: chartreuse;
            margin-bottom: 6px;
            border-radius: 15px;
            .inp2t{
                width: 200px;
                height: 50px;
                border-radius: 15px;
                font-family: shabnam;
                border: 1px solid gray;
                padding-right: 10px;
            }
        }
        .inp3{
            width: 200px;
            height: 50px;
            background-color: rgb(255, 0, 0);
            border-radius: 15px;
            .inp3t{
                width: 200px;
                height: 50px;
                border-radius: 15px;
                font-family: shabnam;
                border: 1px solid gray;
                padding-right: 10px;
            }
        }
        .inp4{
            width: 200px;
            height: 50px;
            background-color: rgb(255, 0, 255);
            margin-top: 6px;
            border-radius: 15px;
            .inp4t{
                width: 200px;
                height: 50px;
                border-radius: 15px;
                font-family: shabnam;
                border: 1px solid gray;
                padding-right: 10px;
            }
        }
    }
}

.sidebar1{
    width: 300px;
    height: 730px;
    background-color: rgb(255, 253, 253);
    display: block;
    margin-right: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0.5px 0.5px 0.5px 0px rgb(173, 172, 172);
    margin-top: 10px;
    .barh1{
        font-family: shabnam;
        font-size: 17px;
        color: rgb(11, 75, 194);
        margin-right: 20px;
        padding-top: 10px;
    }
    .baritem1{
        text-decoration: none;
        font-family: shabnam;
        font-size: 13px;
        color: rgb(77, 76, 76);
        background-color: whitesmoke;
        width: 280px;
        height: 40px;
        justify-content: center;
        display: flex;
        border-radius: 10px;
        margin-right: 10px;
        margin-top: 8px;
        padding-top: 10px;
        padding-left: 190px;
        &:hover{
            background-color: rgb(175, 174, 174);
            transition: 1s;
        }
    }
    .baritem2{
        text-decoration: none;
        font-family: shabnam;
        font-size: 13px;
        color: rgb(77, 76, 76);
        background-color: whitesmoke;
        width: 280px;
        height: 40px;
        justify-content: center;
        display: flex;
        border-radius: 10px;
        margin-right: 10px;
        margin-top: 8px;
        padding-top: 10px;
        padding-left: 190px;
         &:hover{
            background-color: rgb(175, 174, 174);
            transition: 1s;
        }
    }
    .baritem3{
        text-decoration: none;
        font-family: shabnam;
        font-size: 13px;
        color: rgb(77, 76, 76);
        background-color: whitesmoke;
        width: 280px;
        height: 40px;
        justify-content: center;
        display: flex;
        border-radius: 10px;
        margin-right: 10px;
        margin-top: 8px;
        align-items: center;
        padding-left: 140px;
         &:hover{
            background-color: rgb(175, 174, 174);
            transition: 1s;
        }
    }
    .baritem4{
        text-decoration: none;
        font-family: shabnam;
        font-size: 13px;
        color: rgb(77, 76, 76);
        background-color: whitesmoke;
        width: 280px;
        height: 40px;
        justify-content: center;
        display: flex;
        border-radius: 10px;
        margin-right: 10px;
        margin-top: 8px;
        align-items: center;
        padding-left: 115px;
         &:hover{
            background-color: rgb(175, 174, 174);
            transition: 1s;
        }
    }
    .baritem5{
        text-decoration: none;
        font-family: shabnam;
        font-size: 13px;
        color: rgb(77, 76, 76);
        background-color: whitesmoke;
        width: 280px;
        height: 40px;
        justify-content: center;
        display: flex;
        border-radius: 10px;
        margin-right: 10px;
        margin-top: 8px;
        align-items: center;
        padding-left: 175px;
         &:hover{
            background-color: rgb(175, 174, 174);
            transition: 1s;
        }
    }
    .baritem6{
        text-decoration: none;
        font-family: shabnam;
        font-size: 13px;
        color: rgb(77, 76, 76);
        background-color: whitesmoke;
        width: 280px;
        height: 40px;
        justify-content: center;
        display: flex;
        border-radius: 10px;
        margin-right: 10px;
        margin-top: 8px;
        align-items: center;
        padding-left: 150px;
         &:hover{
            background-color: rgb(175, 174, 174);
            transition: 1s;
        }
    }
    .baritem7{
        text-decoration: none;
        font-family: shabnam;
        font-size: 13px;
        color: rgb(77, 76, 76);
        background-color: whitesmoke;
        width: 280px;
        height: 40px;
        justify-content: center;
        display: flex;
        border-radius: 10px;
        margin-right: 10px;
        margin-top: 8px;
        padding-top: 10px;
        padding-left: 230px;
         &:hover{
            background-color: rgb(175, 174, 174);
            transition: 1s;
        }
    }
    .baritem8{
        text-decoration: none;
        font-family: shabnam;
        font-size: 13px;
        color: rgb(77, 76, 76);
        background-color: whitesmoke;
        width: 280px;
        height: 40px;
        justify-content: center;
        display: flex;
        border-radius: 10px;
        margin-right: 10px;
        margin-top: 8px;
        align-items: center;
        padding-left: 150px;
         &:hover{
            background-color: rgb(175, 174, 174);
            transition: 1s;
        }
    }
    .baritem9{
        text-decoration: none;
        font-family: shabnam;
        font-size: 13px;
        color: rgb(77, 76, 76);
        background-color: whitesmoke;
        width: 280px;
        height: 40px;
        justify-content: center;
        display: flex;
        border-radius: 10px;
        margin-right: 10px;
        margin-top: 8px;
        align-items: center;
        padding-left: 110px;
         &:hover{
            background-color: rgb(175, 174, 174);
            transition: 1s;
        }
    }
    .baritem10{
        text-decoration: none;
        font-family: shabnam;
        font-size: 13px;
        color: rgb(77, 76, 76);
        background-color: whitesmoke;
        width: 280px;
        height: 40px;
        justify-content: center;
        display: flex;
        border-radius: 10px;
        margin-right: 10px;
        margin-top: 8px;
        padding-top: 10px;
        padding-left: 190px;
         &:hover{
            background-color: rgb(175, 174, 174);
            transition: 1s;
        }
    }
    .baritem11{
        text-decoration: none;
        font-family: shabnam;
        font-size: 13px;
        color: rgb(77, 76, 76);
        background-color: whitesmoke;
        width: 280px;
        height: 40px;
        justify-content: center;
        display: flex;
        border-radius: 10px;
        margin-right: 10px;
        margin-top: 8px;
        align-items: center;
        padding-left: 128px;
         &:hover{
            background-color: rgb(175, 174, 174);
            transition: 1s;
        }
    }
    .baritem12{
        text-decoration: none;
        font-family: shabnam;
        font-size: 13px;
        color: rgb(77, 76, 76);
        background-color: whitesmoke;
        width: 280px;
        height: 40px;
        justify-content: center;
        display: flex;
        border-radius: 10px;
        margin-right: 10px;
        margin-top: 8px;
        align-items: center;
        padding-left: 210px;
         &:hover{
            background-color: rgb(175, 174, 174);
            transition: 1s;
        }
    }
    .baritem13{
        text-decoration: none;
        font-family: shabnam;
        font-size: 13px;
        color: rgb(77, 76, 76);
        background-color: whitesmoke;
        width: 280px;
        height: 40px;
        justify-content: center;
        display: flex;
        border-radius: 10px;
        margin-right: 10px;
        margin-top: 8px;
        align-items: center;
        padding-left: 140px;
         &:hover{
            background-color: rgb(175, 174, 174);
            transition: 1s;
        }
    }
    .baritem14{
        text-decoration: none;
        font-family: shabnam;
        font-size: 13px;
        color: rgb(77, 76, 76);
        background-color: whitesmoke;
        width: 280px;
        height: 40px;
        justify-content: center;
        display: flex;
        border-radius: 10px;
        margin-right: 10px;
        margin-top: 8px;
        padding-top: 10px;
        padding-left: 200px;
         &:hover{
            background-color: rgb(175, 174, 174);
            transition: 1s;
        }
    }
}
.prod{
    width: 300px;
    height: 300px;
    background-color: whitesmoke;
    margin-top: 40px;
    border-radius: 15px;
    .img{
        width: 300px;
        height: 300px;
        border-radius: 15px;
    }
}
.topbar{
    width: 930px;
    height: 150px;
    background-color: white;
    border-radius: 15px;
    margin-right: 50px;
    margin-top: 20px;
    display: inline-block;
    justify-content: space-between;
     box-shadow: 0.5px 0.5px 0.5px 0px rgb(173, 172, 172);

    .topbh1{
        font-family: shabnam-2;
        font-size: 16px;
        padding-right: 20px;
        padding-top: 20px;
        color: rgb(75, 73, 73);
    }
    .line2{
        width: 100%;
        height: 15px;
        display: flex;
        align-items: center;

        .home{
            text-decoration: none;
            font-family: shabnam;
            font-size: 13px;
            color: rgb(114, 113, 113);
            padding-right: 20px;
            padding-top: 10px;
        }
        .arcpr{
            text-decoration: none;
            font-family: shabnam;
            font-size: 13px;
            color: rgb(114, 113, 113);
            padding-right: 25px;
            padding-top: 10px;
        }
        .mobcom{
            text-decoration: none;
            font-family: shabnam;
            font-size: 12px;
            color: rgb(52, 34, 214);
            padding-right: 25px;
            padding-top: 10px;
        }
    }
    .line2{
        width: 100%;
        height: 60px;
        background-color: white;
        border-radius: 15px;

        .filter{
            text-decoration: none;
            font-family: shabnam;
            font-size: 14px;
            color: rgb(68, 68, 68);
            margin-right: 30px;
        }
        .new{
            text-decoration: none;
            font-family: shabnam;
            font-size: 14px;
            color: rgb(68, 68, 68);
            margin-right: 20px;
            font-weight: bold;
        }
        .sold{
            text-decoration: none;
            font-family: shabnam;
            font-size: 14px;
            color: rgb(68, 68, 68);
            margin-right: 30px;
            &:hover{
                color: rgb(29, 29, 29);
            }
        }
        .cheap{
            text-decoration: none;
            font-family: shabnam;
            font-size: 14px;
            color: rgb(68, 68, 68);
            margin-right: 30px;
             &:hover{
                color: rgb(29, 29, 29);
            }
        }
        .exps{
            text-decoration: none;
            font-family: shabnam;
            font-size: 14px;
            color: rgb(68, 68, 68);
            margin-right: 30px;
             &:hover{
                color: rgb(29, 29, 29);
            }
        }

    }
    .items{
        width: 900px;
        height: 400px;
        background-color: rgb(236, 236, 236);
        margin-top: 10px;
        border-radius: 15px;
        display: flex;
        column-gap: 15px;
        .it1{
            width: 300px;
            height: 458px;
            background-color: white;
            border-radius: 15px;
            &:hover{
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
            }
            .img1{
                width: 300px;
                height: 300px;
                border-radius: 15px;
            }
            .h1{
                font-family: shabnam-2;
                font-size: 13px;
                color: rgb(78, 78, 78);
                padding-right: 90px;
                font-weight: 1;
                padding-top: 10px;
            }
            .h2{
                font-family: shabnam-2;
                font-size: 16px;
                color: rgb(78, 78, 78);
                padding-top: 10px;
                align-items: center;
                padding-right: 15px;
                font-weight: 2;
            }
            .h3{
                font-family: shabnam-2;
                font-size: 16px;
                color: rgb(4, 95, 214);
                padding-top: 35px;
                align-items: center;
                padding-right: 175px;
            }
        }
         .it2{
            width: 300px;
            height: 458px;
            background-color: white;
            border-radius: 15px;
             &:hover{
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
            }
            .img2{
                width: 300px;
                height: 300px;
                border-radius: 15px;
            }
            .h1{
                font-family: shabnam-2;
                font-size: 13px;
                color: rgb(78, 78, 78);
                padding-right: 95px;
                font-weight: 1;
                padding-top: 10px;
            }
            .h2{
                font-family: shabnam-2;
                font-size: 16px;
                color: rgb(78, 78, 78);
                padding-top: 10px;
                align-items: center;
                padding-right: 15px;
                font-weight: 2;
            }
            .h3{
                font-family: shabnam-2;
                font-size: 16px;
                color: rgb(4, 95, 214);
                padding-top: 35px;
                align-items: center;
                padding-right: 190px;
            }
        
    }
         .it3{
            width: 300px;
            height: 458px;
            background-color: white;
            border-radius: 15px;
             &:hover{
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
            }
            .img3{
                width: 300px;
                height: 300px;
                border-radius: 15px;
            }
             .h1{
                font-family: shabnam-2;
                font-size: 13px;
                color: rgb(78, 78, 78);
                padding-right: 80px;
                font-weight: 1;
                padding-top: 10px;
            }
            .h2{
                font-family: shabnam-2;
                font-size: 16px;
                color: rgb(78, 78, 78);
                padding-top: 10px;
                align-items: center;
                padding-right: 15px;
                font-weight: 2;
            }
            .h3{
                font-family: shabnam-2;
                font-size: 16px;
                color: rgb(4, 95, 214);
                padding-top: 35px;
                align-items: center;
                padding-right: 190px;
            }
    }
}
 .items2{
        width: 900px;
        height: 400px;
        background-color: rgb(236, 236, 236);
        margin-top: 80px;
        border-radius: 15px;
        display: flex;
        column-gap: 15px;
        .it1{
            width: 300px;
            height: 458px;
            background-color: white;
            border-radius: 15px;
            &:hover{
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
            }
            .img1{
                width: 300px;
                height: 300px;
                border-radius: 15px;
            }
            .h1{
                font-family: shabnam-2;
                font-size: 13px;
                color: rgb(78, 78, 78);
                padding-right: 90px;
                font-weight: 1;
                padding-top: 10px;
            }
            .h2{
                font-family: shabnam-2;
                font-size: 16px;
                color: rgb(78, 78, 78);
                padding-top: 10px;
                align-items: center;
                padding-right: 15px;
                font-weight: 2;
            }
             .h3{
                font-family: shabnam-2;
                font-size: 16px;
                color: rgb(4, 95, 214);
                padding-top: 35px;
                align-items: center;
                padding-right: 175px;
            }
}
        .it2{
            width: 300px;
            height: 458px;
            background-color: white;
            border-radius: 15px;
             &:hover{
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
            }
            .img2{
                width: 300px;
                height: 300px;
                border-radius: 15px;
            }
            .h1{
                font-family: shabnam-2;
                font-size: 13px;
                color: rgb(78, 78, 78);
                padding-right: 90px;
                font-weight: 1;
                padding-top: 10px;
            }
            .h2{
                font-family: shabnam-2;
                font-size: 16px;
                color: rgb(78, 78, 78);
                padding-top: 10px;
                align-items: center;
                padding-right: 15px;
                font-weight: 2;
            }
             .h3{
                font-family: shabnam-2;
                font-size: 16px;
                color: rgb(4, 95, 214);
                padding-top: 35px;
                align-items: center;
                padding-right: 175px;
            }
}
        .it3{
            width: 300px;
            height: 458px;
            background-color: white;
            border-radius: 15px;
             &:hover{
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
            }
            .img3{
                width: 300px;
                height: 300px;
                border-radius: 15px;
            }
            .h1{
                font-family: shabnam-2;
                font-size: 13px;
                color: rgb(78, 78, 78);
                padding-right: 90px;
                font-weight: 1;
                padding-top: 10px;
            }
            .h2{
                font-family: shabnam-2;
                font-size: 16px;
                color: rgb(78, 78, 78);
                padding-top: 10px;
                align-items: center;
                padding-right: 15px;
                font-weight: 2;
            }
             .h3{
                font-family: shabnam-2;
                font-size: 16px;
                color: rgb(4, 95, 214);
                padding-top: 35px;
                align-items: center;
                padding-right: 175px;
            }
}
}

        .items3{
        width: 900px;
        height: 400px;
        background-color: rgb(236, 236, 236);
        margin-top: 80px;
        border-radius: 15px;
        display: flex;
        column-gap: 15px;
        .it1{
            width: 300px;
            height: 458px;
            background-color: white;
            border-radius: 15px;
            display: block;
            &:hover{
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
            }
             .img1{
                width: 300px;
                height: 300px;
                border-radius: 15px;
            }
            .h1{
                font-family: shabnam-2;
                font-size: 13px;
                color: rgb(78, 78, 78);
                padding-right: 90px;
                font-weight: 1;
                padding-top: 10px;
            }
            .h2{
                font-family: shabnam-2;
                font-size: 16px;
                color: rgb(78, 78, 78);
                padding-top: 10px;
                align-items: center;
                padding-right: 15px;
                font-weight: 2;
            }
            .h3{
                font-family: shabnam-2;
                font-size: 16px;
                color: rgb(4, 95, 214);
                padding-top: 35px;
                align-items: center;
                padding-right: 190px;
            }
}
        .it2{
            width: 300px;
            height: 458px;
            background-color: white;
            border-radius: 15px;
            &:hover{
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
            }
             .img2{
                width: 300px;
                height: 300px;
                border-radius: 15px;
            }
            .h1{
                font-family: shabnam-2;
                font-size: 13px;
                color: rgb(78, 78, 78);
                padding-right: 90px;
                font-weight: 1;
                padding-top: 10px;
            }
            .h2{
                font-family: shabnam-2;
                font-size: 16px;
                color: rgb(78, 78, 78);
                padding-top: 10px;
                align-items: center;
                padding-right: 15px;
                font-weight: 2;
            }
            .h3{
                font-family: shabnam-2;
                font-size: 16px;
                color: rgb(4, 95, 214);
                padding-top: 35px;
                align-items: center;
                padding-right: 175px;
            }
}
        .it3{
            width: 300px;
            height: 458px;
            background-color: white;
            border-radius: 15px;
            &:hover{
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
            }
             .img3{
                width: 300px;
                height: 300px;
                border-radius: 15px;
            }
            .h1{
                font-family: shabnam-2;
                font-size: 13px;
                color: rgb(78, 78, 78);
                padding-right: 90px;
                font-weight: 1;
                padding-top: 10px;
            }
            .h2{
                font-family: shabnam-2;
                font-size: 16px;
                color: rgb(78, 78, 78);
                padding-top: 10px;
                align-items: center;
                padding-right: 15px;
                font-weight: 2;
            }
            .h3{
                font-family: shabnam-2;
                font-size: 16px;
                color: rgb(4, 95, 214);
                padding-top: 35px;
                align-items: center;
                padding-right: 175px;
            }
           }
       }
.items4{
        width: 900px;
        height: 400px;
        background-color: rgb(236, 236, 236);
        margin-top: 80px;
        border-radius: 15px;
        display: flex;
        column-gap: 15px;
        .it1{
            width: 300px;
            height: 458px;
            background-color: white;
            border-radius: 15px;
            display: block;
            &:hover{
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
            }
             .img1{
                width: 300px;
                height: 300px;
                border-radius: 15px;
            }
            .h1{
                font-family: shabnam-2;
                font-size: 13px;
                color: rgb(78, 78, 78);
                padding-right: 90px;
                font-weight: 1;
                padding-top: 10px;
            }
            .h2{
                font-family: shabnam-2;
                font-size: 16px;
                color: rgb(78, 78, 78);
                padding-top: 10px;
                align-items: center;
                padding-right: 15px;
                font-weight: 2;
            }
            .h3{
                font-family: shabnam-2;
                font-size: 16px;
                color: rgb(4, 95, 214);
                padding-top: 35px;
                align-items: center;
                padding-right: 175px;
            }
}
        .it2{
            width: 300px;
            height: 458px;
            background-color: white;
            border-radius: 15px;
            &:hover{
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
            }
             .img2{
                width: 300px;
                height: 300px;
                border-radius: 15px;
            }
            .h1{
                font-family: shabnam-2;
                font-size: 13px;
                color: rgb(78, 78, 78);
                padding-right: 90px;
                font-weight: 1;
                padding-top: 10px;
            }
            .h2{
                font-family: shabnam-2;
                font-size: 16px;
                color: rgb(78, 78, 78);
                padding-top: 10px;
                align-items: center;
                padding-right: 15px;
                font-weight: 2;
            }
            .h3{
                font-family: shabnam-2;
                font-size: 16px;
                color: rgb(4, 95, 214);
                padding-top: 35px;
                align-items: center;
                padding-right: 190px;
            }
}
        .it3{
            width: 300px;
            height: 458px;
            background-color: white;
            border-radius: 15px;
            &:hover{
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
            }
             .img3{
                width: 300px;
                height: 300px;
                border-radius: 15px;
            }
            .h1{
                font-family: shabnam-2;
                font-size: 13px;
                color: rgb(78, 78, 78);
                padding-right: 90px;
                font-weight: 1;
                padding-top: 10px;
            }
            .h2{
                font-family: shabnam-2;
                font-size: 16px;
                color: rgb(78, 78, 78);
                padding-top: 10px;
                align-items: center;
                padding-right: 15px;
                font-weight: 2;
            }
            .h3{
                font-family: shabnam-2;
                font-size: 16px;
                color: rgb(4, 95, 214);
                padding-top: 35px;
                align-items: center;
                padding-right: 175px;
            }
}
}
.items5{
        width: 900px;
        height: 400px;
        background-color: rgb(236, 236, 236);
        margin-top: 80px;
        border-radius: 15px;
        display: flex;
        column-gap: 15px;
        .it1{
            width: 300px;
            height: 458px;
            background-color: white;
            border-radius: 15px;
            display: block;
            &:hover{
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
            }
             .img1{
                width: 300px;
                height: 300px;
                border-radius: 15px;
            }
            .h1{
                font-family: shabnam-2;
                font-size: 13px;
                color: rgb(78, 78, 78);
                padding-right: 90px;
                font-weight: 1;
                padding-top: 10px;
            }
            .h2{
                font-family: shabnam-2;
                font-size: 16px;
                color: rgb(78, 78, 78);
                padding-top: 10px;
                align-items: center;
                padding-right: 15px;
                font-weight: 2;
            }
            .h3{
                font-family: shabnam-2;
                font-size: 16px;
                color: rgb(4, 95, 214);
                padding-top: 35px;
                align-items: center;
                padding-right: 190px;
            }
}
        .it2{
            width: 300px;
            height: 458px;
            background-color: white;
            border-radius: 15px;
            &:hover{
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
            }
             .img2{
                width: 300px;
                height: 300px;
                border-radius: 15px;
            }
            .h1{
                font-family: shabnam-2;
                font-size: 13px;
                color: rgb(78, 78, 78);
                padding-right: 90px;
                font-weight: 1;
                padding-top: 10px;
            }
            .h2{
                font-family: shabnam-2;
                font-size: 16px;
                color: rgb(78, 78, 78);
                padding-top: 10px;
                align-items: center;
                padding-right: 15px;
                font-weight: 2;
            }
            .h3{
                font-family: shabnam-2;
                font-size: 16px;
                color: rgb(4, 95, 214);
                padding-top: 35px;
                align-items: center;
                padding-right: 175px;
            }
}
        .it3{
            width: 300px;
            height: 458px;
            background-color: white;
            border-radius: 15px;
            &:hover{
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
            }
             .img3{
                width: 300px;
                height: 300px;
                border-radius: 15px;
            }
            .h1{
                font-family: shabnam-2;
                font-size: 13px;
                color: rgb(78, 78, 78);
                padding-right: 90px;
                font-weight: 1;
                padding-top: 10px;
            }
            .h2{
                font-family: shabnam-2;
                font-size: 16px;
                color: rgb(78, 78, 78);
                padding-top: 10px;
                align-items: center;
                padding-right: 15px;
                font-weight: 2;
            }
            .h3{
                font-family: shabnam-2;
                font-size: 16px;
                color: rgb(4, 95, 214);
                padding-top: 60px;
                align-items: center;
                padding-right: 190px;
            }
           }
      }
}
.lastbar{
    width: 930px;
    height: 100px;
    background-color: white;
    margin-top: 70px;
    border-radius: 15px;
    direction: ltr;
    .number{
        display: flex;
        justify-content: space-evenly;
        padding-top: 40px;
        .a{
            text-decoration: none;
            color: rgb(70, 69, 69);
        }
        .a1{
            text-decoration: none;
            color: rgb(70, 69, 69);
            border-bottom: 2px solid rgb(70, 69, 69);
            padding: 0 10px;
        }
    }
}
}
.infobar{
    width: 100%;
    height: 90px;
    background-color: rgb(196, 191, 191);
    display: flex;
     .time{
        font-family: shabnam-2;
        font-size: 13px;
        margin-right: 100px;
        padding-top: 40px;
        color: rgb(82, 84, 85);
     }
     .loc{
        font-family: shabnam-2;
        font-size: 13px;
        color: rgb(82, 84, 85);
        margin-right: 140px;
        padding-top: 40px;
     }
     .up{
        width: 100px;
        height: 50px;
        background-color: whitesmoke;
        box-shadow: 2px;
        border-radius: 15px;
        margin-top: 20px;
        margin-right: 150px;
        .upa{
            text-decoration: none;
            color: black;
            font-family: shabnam-2;
            font-size: 14px;
            position: absolute;
            left: 60px;
            margin-top: 15px;
        }
     }
}

.last{
    width: 100%;
    height: 400px;
    background-color: white;
    display: flex;
    .daimg{
     width: 300px;
     height: 300px;
     background-color: white;
     .img{
        width: 220px;
        height: 100px;
        margin-top: 120px;
        margin-right: 70px;
     }
     .ins{
        font-family: shabnam;
        font-size: 14px;
        margin-top: 20px;
        margin-right: 90px;
     .insimg{
        width: 20px;
        height: 20px;
        right: 80px;
        margin-right: 20px;

     }
    }
}
    .hist{
        width: 600px;
        height: 400px;
        background-color: white;
        .head{
            font-family: shabnam;
            font-size: 20px;
            color: rgb(43, 42, 42);
            padding-top: 50px;
        }
        .matn{
            font-family: shabnam-2;
            font-size: 20px;
            color: dimgray;
        }
    }
    .fast{
        width: 300px;
        height: 400px;
        background-color: white;
        display: block;
        .fhead{
            font-family: shabnam;
            font-size: 20px;
            padding-top: 50px;
            color: rgb(43, 42, 42);
        }
           .dfast1{
            width: 300px;
            height: 350px;
            background-color: white;
            text-decoration: none;
            color: gray;
           }
            .dfast2{
            width: 300px;
            height: 350px;
            background-color: white;
            text-decoration: none;
            color: gray;
    }
            .dfast3{
            width: 300px;
            height: 350px;
            background-color: white;
            text-decoration: none;
            color: gray;
    }
           .dfast4{
            width: 300px;
            height: 350px;
            background-color: white;
            text-decoration: none;
            color: gray;
    }
           .dfast5{
            width: 300px;
            height: 350px;
            background-color: white;
            text-decoration: none;
            color: gray;
    }
          .dfast6{
            width: 300px;
            height: 350px;
            background-color: white;
            text-decoration: none;
            color: gray;
    }
    }
}

.footer{
    width: 100%;
    height: 50px;
    background-color: rgb(0, 81, 255);
    .pf{
        color: white;
        font-family: shabnam;
        font-size: 15px;
        text-align: center;
        padding-top: 15px;
    }
}



